<div class="flex flex-column text-center justify-content-center h-full text-cyan-500">
  <h1>Hi 👋, I'm Luiz</h1>
  <h2>A software engineer from Brazil</h2>

  <div>
    <a href="https://github.com/LuizCasagrande" target="_blank">
      <p-button [text]="true" icon="pi pi-github" size="large"/>
    </a>
    <a href="https://www.linkedin.com/in/luiz-casagrande/" target="_blank">
      <p-button [text]="true" icon="pi pi-linkedin" size="large"/>
    </a>
    <a href="mailto:casagrandehluiz@gmail.com" target="_blank">
      <p-button [text]="true" icon="pi pi-envelope" size="large"/>
    </a>
  </div>

  <h3>Scroll down to see my projects 👇</h3>
</div>
